@import 'src/constants/constants.scss';

.terminal-resume-display {
    height: 100vh;

    .bezel {
        // Add bezel.
    }

    .crt {
        animation: textShadow 1.6s infinite;
    }

    // Scanlines patterns.
    .crt::before{
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
            to bottom,
            $scanlines-line 50%,
            $scanlines-background 50%
        );
        background-size: 100% 8px;
        z-index: 2;
        pointer-events: none;
        animation: scanlines 1s steps(60) infinite;
    }

    // Flicker.
    .crt::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: flicker-backgroun;
        opacity: 0;
        z-index: 2;
        pointer-events: none;
        animation: flicker 1s infinite;
      }

   .terminal {
    height: 100vh;
    background-color: $terminal-theme-color;
   }
}
